In [1]:
students={'1':{"name":"NIMRA ", 'age':20},
            '2':{"name":"ALI ", 'age':22},
            '3':{"name":"AHSAN ", 'age':19},
            '4':{"name":"HIRA ", 'age':21},
            '5':{"name":"ZAINAB ", 'age':23}
          }

In [2]:
print (students)

{'1': {'name': 'NIMRA ', 'age': 20}, '2': {'name': 'ALI ', 'age': 22}, '3': {'name': 'AHSAN ', 'age': 19}, '4': {'name': 'HIRA ', 'age': 21}, '5': {'name': 'ZAINAB ', 'age': 23}}

In [4]:
print (students['1'])

{'name': 'NIMRA ', 'age': 20}

In [9]:
for i in range(1,15,3): 
    print(i)

1
4
7
10
13

In [10]:
x=2
if x>2:
    print("x is not available")
elif x==2:
    print("x is available")
else:
    print("ok HAI")

x is available

In [12]:
items=['apple','banana','orange']
for i in range(len(items)):
    print(items[i])
for item in items:
    print(item)

apple
banana
orange
apple
banana
orange

In [1]:
print ("practie for variable")
name = "Qasim"
age = 22
height = 5.9
is_student = True

print(name, age, height, is_student)

practie for variable
Qasim 22 5.9 True

In [2]:
for i in range(5):
    print("Number:", i)

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4

In [3]:
def greet(name):
    print("Hello,", name)

greet("Qasim")

Hello, Qasim

In [4]:
print ("practice code ")
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
op = input("Enter operator (+, -, *, /): ")

if op == "+":
    print("Result:", a + b)
elif op == "-":
    print("Result:", a - b)
elif op == "*":
    print("Result:", a * b)
elif op == "/":
    print("Result:", a / b)
else:
    print("Invalid operator")

practice code

Enter first number:  20
Enter second number:  30
Enter operator (+, -, *, /):  +

Result: 50

In [5]:
print ("while loop ")
i = 0
total = 0
while i < 10:
    total += i
    i += 1
print (total)

while loop
45

In [7]:
print ("set practice ")
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print(A | B)  
print(A & B)  
print(A - B)  
print(A ^ B)

set practice
{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

In [9]:
numbers = [10, 5, 8, 20, 1]
print ("builtin funtions ")

print(len(numbers))   
print(max(numbers))   
print(min(numbers))   
numbers.sort()        
print(numbers)
numbers.reverse()      
print(numbers)

builtin funtions
5
20
1
[1, 5, 8, 10, 20]
[20, 10, 8, 5, 1]

In [2]:
nums = [3, 7, 1, 9, 4]
print("Max number is:", max(nums))

Max number is: 9

In [3]:
students = {
    "Ali": [85, 90, 78],
    "Sara": [88, 92, 80],
    "Qasim": [75, 70, 82]
}

for name, marks in students.items():
    avg = sum(marks) / len(marks)
    print(name, "average marks =", round(avg, 2))

Ali average marks = 84.33
Sara average marks = 86.67
Qasim average marks = 75.67