In [1]:
import pandas as pd

In [2]:
# //first we read the coffee_rating

In [3]:
pd.read_csv('coffee_ratings.csv', encoding="ISO-8859-1")

,total_cup_points,species,owner,country_of_origin,farm_name,mill,company,altitude,region,producer,...,category_one_defects,quakers,color,category_two_defects,expiration,certification_body,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,90.58,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0
1,89.92,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0
2,89.75,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,1600 - 1800 m,NaN,NaN,...,0,0.0,NaN,0,"May 31st, 2011",Specialty Coffee Association,m,1600.0,1800.0,1700.0
3,89.00,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,wolensu,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,...,0,0.0,Green,2,"March 25th, 2016",METAD Agricultural Development plc,m,1800.0,2200.0,2000.0
4,88.83,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,78.75,Robusta,luis robles,Ecuador,robustasa,our own lab,robustasa,NaN,"san juan, playas",CafÃ© Robusta del Ecuador S.A.,...,0,0.0,Blue-Green,1,"January 18th, 2017",Specialty Coffee Association,m,NaN,NaN,NaN
1334,78.08,Robusta,luis robles,Ecuador,robustasa,own laboratory,robustasa,40,"san juan, playas",CafÃ© Robusta del Ecuador S.A.,...,0,0.0,Blue-Green,0,"January 18th, 2017",Specialty Coffee Association,m,40.0,40.0,40.0
1335,77.17,Robusta,james moore,United States,fazenda cazengo,cafe cazengo,global opportunity fund,795 meters,"kwanza norte province, angola",Cafe Cazengo,...,0,0.0,NaN,6,"December 23rd, 2015",Specialty Coffee Association,m,795.0,795.0,795.0
1336,75.08,Robusta,cafe politico,India,NaN,NaN,cafe politico,NaN,NaN,NaN,...,20,0.0,Green,1,"August 25th, 2015",Specialty Coffee Association,m,NaN,NaN,NaN
1337,73.75,Robusta,cafe politico,Vietnam,NaN,NaN,cafe politico,NaN,NaN,NaN,...,63,0.0,NaN,9,"August 25th, 2015",Specialty Coffee Association,m,NaN,NaN,NaN

In [4]:
# //store them in variable coffeerating

In [5]:
coffeerating=pd.read_csv('coffee_ratings.csv', encoding="ISO-8859-1")

In [6]:
type(coffeerating)

pandas.core.frame.DataFrame

In [7]:
# //check the datatype

In [8]:
coffeerating.dtypes

total_cup_points        float64
species                  object
owner                    object
country_of_origin        object
farm_name                object
mill                     object
company                  object
altitude                 object
region                   object
producer                 object
in_country_partner       object
harvest_year             object
grading_date             object
variety                  object
processing_method        object
aroma                   float64
flavor                  float64
aftertaste              float64
acidity                 float64
body                    float64
balance                 float64
uniformity              float64
clean_cup               float64
sweetness               float64
cupper_points           float64
moisture                float64
category_one_defects      int64
quakers                 float64
color                    object
category_two_defects      int64
expiration               object
certification_body       object
unit_of_measurement      object
altitude_low_meters     float64
altitude_high_meters    float64
altitude_mean_meters    float64
dtype: object

In [9]:
# //display coffee rating details

In [10]:
coffeerating

,total_cup_points,species,owner,country_of_origin,farm_name,mill,company,altitude,region,producer,...,category_one_defects,quakers,color,category_two_defects,expiration,certification_body,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,90.58,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0
1,89.92,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0
2,89.75,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,1600 - 1800 m,NaN,NaN,...,0,0.0,NaN,0,"May 31st, 2011",Specialty Coffee Association,m,1600.0,1800.0,1700.0
3,89.00,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,wolensu,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,...,0,0.0,Green,2,"March 25th, 2016",METAD Agricultural Development plc,m,1800.0,2200.0,2000.0
4,88.83,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,78.75,Robusta,luis robles,Ecuador,robustasa,our own lab,robustasa,NaN,"san juan, playas",CafÃ© Robusta del Ecuador S.A.,...,0,0.0,Blue-Green,1,"January 18th, 2017",Specialty Coffee Association,m,NaN,NaN,NaN
1334,78.08,Robusta,luis robles,Ecuador,robustasa,own laboratory,robustasa,40,"san juan, playas",CafÃ© Robusta del Ecuador S.A.,...,0,0.0,Blue-Green,0,"January 18th, 2017",Specialty Coffee Association,m,40.0,40.0,40.0
1335,77.17,Robusta,james moore,United States,fazenda cazengo,cafe cazengo,global opportunity fund,795 meters,"kwanza norte province, angola",Cafe Cazengo,...,0,0.0,NaN,6,"December 23rd, 2015",Specialty Coffee Association,m,795.0,795.0,795.0
1336,75.08,Robusta,cafe politico,India,NaN,NaN,cafe politico,NaN,NaN,NaN,...,20,0.0,Green,1,"August 25th, 2015",Specialty Coffee Association,m,NaN,NaN,NaN
1337,73.75,Robusta,cafe politico,Vietnam,NaN,NaN,cafe politico,NaN,NaN,NaN,...,63,0.0,NaN,9,"August 25th, 2015",Specialty Coffee Association,m,NaN,NaN,NaN

In [11]:
# describe() gives us summary statistics for all numerical columns.

# We can quickly see values like:

# count: number of non-null entries

# mean, std (standard deviation)

# min, max, and quartiles (25%, 50%, 75%)

# This is essential for understanding the spread and central tendency of our data.

In [12]:
coffeerating.describe()

,total_cup_points,aroma,flavor,aftertaste,acidity,body,balance,uniformity,clean_cup,sweetness,cupper_points,moisture,category_one_defects,quakers,category_two_defects,altitude_low_meters,altitude_high_meters,altitude_mean_meters
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1337.000000,1338.000000,1108.000000,1108.000000,1108.000000
mean,82.151203,7.572362,7.526046,7.406614,7.541338,7.523117,7.523632,9.842227,9.842459,9.864058,7.508984,0.088356,0.479821,0.173523,3.557549,1751.029843,1799.708197,1775.369020
std,2.686862,0.315916,0.341382,0.350304,0.319173,0.307815,0.353630,0.485183,0.715296,0.554207,0.426843,0.048298,2.550603,0.832419,5.314357,8673.348986,8672.712024,8672.533233
min,59.830000,5.080000,6.080000,6.170000,5.250000,5.080000,5.250000,6.000000,0.000000,1.330000,5.170000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,81.102500,7.420000,7.330000,7.250000,7.330000,7.330000,7.330000,10.000000,10.000000,10.000000,7.250000,0.090000,0.000000,0.000000,0.000000,1100.000000,1100.000000,1100.000000
50%,82.500000,7.580000,7.580000,7.420000,7.580000,7.500000,7.500000,10.000000,10.000000,10.000000,7.500000,0.110000,0.000000,0.000000,2.000000,1310.640000,1350.000000,1310.640000
75%,83.670000,7.750000,7.750000,7.580000,7.750000,7.670000,7.750000,10.000000,10.000000,10.000000,7.750000,0.120000,0.000000,0.000000,4.000000,1600.000000,1650.000000,1600.000000
max,90.580000,8.750000,8.830000,8.670000,8.750000,8.580000,8.750000,10.000000,10.000000,10.000000,10.000000,0.280000,63.000000,11.000000,55.000000,190164.000000,190164.000000,190164.000000

In [13]:
# isnull() is used to check where values are missing (returns True for missing).
# isnull/sum() It’s used to count total missing (null) values in each column of a DataFrame.

In [14]:
coffeerating.isnull()

,total_cup_points,species,owner,country_of_origin,farm_name,mill,company,altitude,region,producer,...,category_one_defects,quakers,color,category_two_defects,expiration,certification_body,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,True,False,True,True,...,False,False,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,True,True,True
1334,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1335,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
1336,False,False,False,False,True,True,False,True,True,True,...,False,False,False,False,False,False,False,True,True,True
1337,False,False,False,False,True,True,False,True,True,True,...,False,False,True,False,False,False,False,True,True,True

In [15]:
coffeerating.isnull().sum()

total_cup_points          0
species                   0
owner                     7
country_of_origin         1
farm_name               359
mill                    318
company                 209
altitude                226
region                   59
producer                232
in_country_partner        0
harvest_year             47
grading_date              0
variety                 226
processing_method       169
aroma                     0
flavor                    0
aftertaste                0
acidity                   0
body                      0
balance                   0
uniformity                0
clean_cup                 0
sweetness                 0
cupper_points             0
moisture                  0
category_one_defects      0
quakers                   1
color                   270
category_two_defects      0
expiration                0
certification_body        0
unit_of_measurement       0
altitude_low_meters     230
altitude_high_meters    230
altitude_mean_meters    230
dtype: int64

In [16]:
# .head() is used to quickly view the first few rows of a DataFrame.
# This helps you get a quick look at your data without printing the whole thing.

In [17]:
coffeerating.head()

,total_cup_points,species,owner,country_of_origin,farm_name,mill,company,altitude,region,producer,...,category_one_defects,quakers,color,category_two_defects,expiration,certification_body,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,90.58,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0
1,89.92,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0
2,89.75,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,1600 - 1800 m,NaN,NaN,...,0,0.0,NaN,0,"May 31st, 2011",Specialty Coffee Association,m,1600.0,1800.0,1700.0
3,89.00,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,wolensu,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,...,0,0.0,Green,2,"March 25th, 2016",METAD Agricultural Development plc,m,1800.0,2200.0,2000.0
4,88.83,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0

In [18]:
# list of columns

In [19]:
coffeerating.columns

Index(['total_cup_points', 'species', 'owner', 'country_of_origin',
       'farm_name', 'mill', 'company', 'altitude', 'region', 'producer',
       'in_country_partner', 'harvest_year', 'grading_date', 'variety',
       'processing_method', 'aroma', 'flavor', 'aftertaste', 'acidity', 'body',
       'balance', 'uniformity', 'clean_cup', 'sweetness', 'cupper_points',
       'moisture', 'category_one_defects', 'quakers', 'color',
       'category_two_defects', 'expiration', 'certification_body',
       'unit_of_measurement', 'altitude_low_meters', 'altitude_high_meters',
       'altitude_mean_meters'],
      dtype='object')

In [20]:
# Indexing & Selecting Columns (iloc / loc)
# Select the first 5 rows

In [21]:
coffeerating.iloc[:5]

,total_cup_points,species,owner,country_of_origin,farm_name,mill,company,altitude,region,producer,...,category_one_defects,quakers,color,category_two_defects,expiration,certification_body,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,90.58,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0
1,89.92,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0
2,89.75,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,1600 - 1800 m,NaN,NaN,...,0,0.0,NaN,0,"May 31st, 2011",Specialty Coffee Association,m,1600.0,1800.0,1700.0
3,89.00,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,wolensu,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,...,0,0.0,Green,2,"March 25th, 2016",METAD Agricultural Development plc,m,1800.0,2200.0,2000.0
4,88.83,Arabica,metad plc,Ethiopia,metad plc,metad plc,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,...,0,0.0,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,m,1950.0,2200.0,2075.0

In [22]:
# checking null values

In [23]:
coffeerating.isnull().sum(axis=1)>1

0       False
1       False
2        True
3       False
4       False
        ...
1333     True
1334     True
1335     True
1336     True
1337     True
Length: 1338, dtype: bool

In [24]:
coffeerating.loc[coffeerating.isnull().sum(axis=1) > 9]

,total_cup_points,species,owner,country_of_origin,farm_name,mill,company,altitude,region,producer,...,category_one_defects,quakers,color,category_two_defects,expiration,certification_body,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
5,88.83,Arabica,ji-ae ahn,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.0,Bluish-Green,1,"September 3rd, 2014",Specialty Coffee Institute of Asia,m,NaN,NaN,NaN
17,87.33,Arabica,ethiopia commodity exchange,Ethiopia,NaN,NaN,NaN,NaN,yirgacheffe,Green Gold Ethiopia | Phone: 0114342032,...,0,0.0,NaN,2,"June 16th, 2011",Ethiopia Commodity Exchange,m,NaN,NaN,NaN
26,86.92,Arabica,ethiopia commodity exchange,Ethiopia,NaN,NaN,NaN,NaN,sidamo,Green Gold Ethiopia | Phone: 0114342032,...,0,0.0,NaN,2,"June 16th, 2011",Ethiopia Commodity Exchange,m,NaN,NaN,NaN
30,86.58,Arabica,nora zeas,Nicaragua,NaN,beneficio atlantic condega,NaN,NaN,NaN,NaN,...,0,0.0,NaN,2,"May 18th, 2011",Specialty Coffee Association,m,NaN,NaN,NaN
31,86.50,Arabica,specialty coffee-korea,"Tanzania, United Republic Of",NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.0,Bluish-Green,1,"September 3rd, 2014",Specialty Coffee Institute of Asia,m,NaN,NaN,NaN
93,85.08,Arabica,kona pacific farmers cooperative,United States (Hawaii),NaN,NaN,NaN,NaN,kona,Kona Pacific Farmers Cooperative,...,1,0.0,NaN,7,"December 27th, 2011",Specialty Coffee Association,ft,NaN,NaN,NaN
94,85.08,Arabica,ethiopia commodity exchange,Ethiopia,NaN,NaN,NaN,NaN,sidamo,Exporter Name | Muluneh Kaka | Phone: 0114390290,...,0,0.0,NaN,5,"June 17th, 2011",Ethiopia Commodity Exchange,m,NaN,NaN,NaN
95,85.08,Arabica,kona pacific farmers cooperative,United States (Hawaii),kona pacific farmers cooperative,kona pacific farmers cooperative,NaN,NaN,kona,NaN,...,0,0.0,NaN,0,"May 17th, 2011",Specialty Coffee Association,ft,NaN,NaN,NaN
104,85.00,Arabica,kona pacific farmers cooperative,United States (Hawaii),kona pacific farmers cooperative,NaN,NaN,NaN,kona,NaN,...,0,0.0,NaN,1,"February 24th, 2012",Specialty Coffee Association,ft,NaN,NaN,NaN
114,84.92,Arabica,brian speckman,Kenya,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0.0,NaN,9,"August 26th, 2011",Specialty Coffee Association,m,NaN,NaN,NaN
142,84.67,Arabica,benjamin schmerler,Peru,NaN,NaN,NaN,NaN,"penachi, cecanor",CECANOR,...,0,0.0,NaN,3,"June 13th, 2012",Specialty Coffee Association,m,NaN,NaN,NaN
170,84.50,Arabica,alexandra katona-carroll,Brazil,NaN,NaN,NaN,test,test,NaN,...,2,0.0,NaN,0,"March 21st, 2012",NUCOFFEE,m,NaN,NaN,NaN
257,84.00,Arabica,doi tung development project,Thailand,doi tung development project,NaN,NaN,NaN,NaN,NaN,...,0,0.0,NaN,0,"August 15th, 2012",Specialty Coffee Association,m,NaN,NaN,NaN
293,83.83,Arabica,doi tung development project,Thailand,doi tung development project,NaN,NaN,NaN,NaN,NaN,...,0,0.0,NaN,0,"August 15th, 2012",Specialty Coffee Association,m,NaN,NaN,NaN
313,83.75,Arabica,kona pacific farmers cooperative,United States (Hawaii),NaN,NaN,NaN,NaN,kona,NaN,...,0,0.0,NaN,0,"June 29th, 2011",Specialty Coffee Association,ft,NaN,NaN,NaN
334,83.67,Arabica,kona pacific farmers cooperative,United States (Hawaii),NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.0,NaN,0,"April 20th, 2012",Specialty Coffee Association,ft,NaN,NaN,NaN
373,83.50,Arabica,kona pacific farmers cooperative,United States (Hawaii),NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.0,NaN,0,"March 7th, 2012",Specialty Coffee Association,ft,NaN,NaN,NaN
392,83.42,Arabica,federacion nacional de cafeteros,Colombia,NaN,NaN,NaN,NaN,huila,NaN,...,1,0.0,NaN,3,"February 1st, 2012",AlmacafÃ©,m,NaN,NaN,NaN
394,83.42,Arabica,doi tung development project,Thailand,doi tung development project,NaN,NaN,NaN,NaN,Doi Tung Development Project,...,0,0.0,NaN,0,"April 13th, 2011",Specialty Coffee Association,m,NaN,NaN,NaN
414,83.33,Arabica,kona pacific farmers cooperative,United States (Hawaii),NaN,NaN,NaN,NaN,kona,NaN,...,0,0.0,NaN,0,"September 19th, 2012",Specialty Coffee Association,ft,NaN,NaN,NaN
415,83.33,Arabica,kona pacific farmers cooperative,United States (Hawaii),NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.0,NaN,0,"February 24th, 2012",Specialty Coffee Association,ft,NaN,NaN,NaN
495,83.08,Arabica,chris finch,Guatemala,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.0,NaN,1,"November 11th, 2011",Specialty Coffee Association,m,NaN,NaN,NaN
526,83.00,Arabica,doi tung development project,Thailand,doi tung development project,NaN,NaN,NaN,NaN,NaN,...,0,0.0,NaN,0,"August 15th, 2012",Specialty Coffee Association,m,NaN,NaN,NaN
528,83.00,Arabica,kona pacific farmers cooperative,United States (Hawaii),NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.0,NaN,0,"April 20th, 2012",Specialty Coffee Association,ft,NaN,NaN,NaN
529,83.00,Arabica,kona pacific farmers cooperative,United States (Hawaii),NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.0,NaN,1,"March 8th, 2012",Specialty Coffee Association,ft,NaN,NaN,NaN
532,83.00,Arabica,doi tung development project,Thailand,doi tung development project,NaN,NaN,NaN,NaN,Doi Tung Development Project,...,0,0.0,NaN,0,"April 13th, 2011",Specialty Coffee Association,m,NaN,NaN,NaN
558,82.92,Arabica,doi tung development project,Thailand,doi tung development project,NaN,NaN,NaN,NaN,Doi Tung Development Project,...,0,0.0,NaN,0,"April 13th, 2011",Specialty Coffee Association,m,NaN,NaN,NaN
606,82.75,Arabica,kona pacific farmers cooperative,United States (Hawaii),NaN,NaN,NaN,NaN,kona,NaN,...,0,0.0,NaN,2,"June 29th, 2011",Specialty Coffee Association,ft,NaN,NaN,NaN
629,82.67,Arabica,kona pacific farmers cooperative,United States (Hawaii),NaN,NaN,NaN,NaN,kona,NaN,...,2,0.0,NaN,0,"September 19th, 2012",Specialty Coffee Association,ft,NaN,NaN,NaN
632,82.67,Arabica,racafe & cia s.c.a,Colombia,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.0,NaN,2,"September 3rd, 2011",AlmacafÃ©,m,NaN,NaN,NaN
690,82.42,Arabica,brent hall,Honduras,NaN,NaN,s&d coffee and tea,NaN,NaN,NaN,...,0,0.0,NaN,2,"December 10th, 2014",Specialty Coffee Association,m,NaN,NaN,NaN
755,82.25,Arabica,racafe & cia s.c.a,Colombia,NaN,NaN,NaN,NaN,cauca,NaN,...,0,0.0,NaN,2,"February 29th, 2012",AlmacafÃ©,m,NaN,NaN,NaN
858,81.83,Arabica,kona pacific farmers cooperative,United States (Hawaii),kona pacific farmers cooperative,kona pacific farmers cooperative,NaN,NaN,kona,NaN,...,3,0.0,NaN,12,"May 24th, 2011",Specialty Coffee Association,ft,NaN,NaN,NaN
908,81.58,Arabica,doi tung development project,Thailand,doi tung development project,NaN,NaN,NaN,NaN,NaN,...,0,0.0,NaN,0,"August 15th, 2012",Specialty Coffee Association,m,NaN,NaN,NaN
933,81.50,Arabica,kona pacific farmers cooperative,United States (Hawaii),NaN,NaN,NaN,NaN,kona,NaN,...,0,0.0,NaN,17,"June 29th, 2011",Specialty Coffee Association,ft,NaN,NaN,NaN
985,81.17,Arabica,kona pacific farmers cooperative,United States (Hawaii),NaN,NaN,NaN,NaN,kona,NaN,...,3,0.0,NaN,0,"September 21st, 2012",Specialty Coffee Association,ft,NaN,NaN,NaN
1029,80.92,Arabica,doi tung development project,Thailand,doi tung development project,NaN,NaN,NaN,NaN,Doi Tung Development Project,...,0,0.0,NaN,0,"April 13th, 2011",Specialty Coffee Association,m,NaN,NaN,NaN
1059,80.67,Arabica,racafe & cia s.c.a,Colombia,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.0,NaN,2,"March 14th, 2012",AlmacafÃ©,m,NaN,NaN,NaN
1066,80.58,Arabica,kona pacific farmers cooperative,United States (Hawaii),NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.0,NaN,0,"May 3rd, 2012",Specialty Coffee Association,ft,NaN,NaN,NaN
1067,80.58,Arabica,racafe & cia s.c.a,Colombia,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.0,NaN,2,"March 14th, 2012",AlmacafÃ©,m,NaN,NaN,NaN
1093,80.33,Arabica,ethiopia commodity exchange,Ethiopia,NaN,NaN,NaN,NaN,kelem welega,Exporter Name | Muluneh Kaka | Phone: 0114390290,...,0,0.0,NaN,1,"June 17th, 2011",Ethiopia Commodity Exchange,m,NaN,NaN,NaN
1113,80.17,Arabica,kona pacific farmers cooperative,United States (Hawaii),NaN,NaN,NaN,NaN,kona,NaN,...,12,0.0,NaN,1,"September 21st, 2012",Specialty Coffee Association,ft,NaN,NaN,NaN
1138,79.92,Arabica,kona pacific farmers cooperative,United States (Hawaii),NaN,NaN,NaN,NaN,kona,NaN,...,3,0.0,NaN,0,"September 21st, 2012",Specialty Coffee Association,ft,NaN,NaN,NaN
1164,79.67,Arabica,doi tung development project,Thailand,doi tung development project,NaN,NaN,NaN,NaN,Doi Tung Development Project,...,1,0.0,NaN,0,"April 9th, 2011",Specialty Coffee Association,m,NaN,NaN,NaN
1197,79.08,Arabica,racafe & cia s.c.a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.0,NaN,3,"February 29th, 2012",AlmacafÃ©,m,NaN,NaN,NaN
1220,78.58,Arabica,kona pacific farmers cooperative,United States (Hawaii),kona farms,NaN,NaN,NaN,kona,NaN,...,0,0.0,NaN,0,"June 20th, 2012",Specialty Coffee Association,ft,NaN,NaN,NaN
1242,78.00,Arabica,mao-heng chu,Colombia,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0.0,Green,3,"November 30th, 2012",Specialty Coffee Association,m,NaN,NaN,NaN
1247,77.83,Arabica,cafe politico,Brazil,NaN,NaN,green mountain coffee,NaN,NaN,NaN,...,0,0.0,NaN,2,"August 25th, 2015",Specialty Coffee Association,m,NaN,NaN,NaN
1337,73.75,Robusta,cafe politico,Vietnam,NaN,NaN,cafe politico,NaN,NaN,NaN,...,63,0.0,NaN,9,"August 25th, 2015",Specialty Coffee Association,m,NaN,NaN,NaN

In [25]:
coffeerating.loc[coffeerating.isnull().sum(axis=1) > 2,['total_cup_points','region']]

      total_cup_points            region
2                89.75               NaN
5                88.83               NaN
6                88.75               NaN
7                88.67            oromia
8                88.42           oromiya
...                ...               ...
1325             81.42       chikmagalur
1330             80.17       chikmagalur
1333             78.75  san juan, playas
1336             75.08               NaN
1337             73.75               NaN

[352 rows x 2 columns]

In [26]:
# SQL: structured query language

In [28]:
coffeerating.loc[coffeerating.isnull().sum(axis=1)>0, ('owner', 'farm_name')]

                         owner                                 farm_name
0                    metad plc                                 metad plc
2     grounds for health admin  san marcos barrancas "san cristobal cuch
3          yidnekachew dabessa     yidnekachew dabessa coffee plantation
5                    ji-ae ahn                                       NaN
6                hugo valdivia                                       NaN
...                        ...                                       ...
1333               luis robles                                 robustasa
1334               luis robles                                 robustasa
1335               james moore                           fazenda cazengo
1336             cafe politico                                       NaN
1337             cafe politico                                       NaN

[736 rows x 2 columns]

In [29]:
# group by pandas

In [30]:
coffeerating.groupby('owner')

In [31]:
coffeerating.groupby('owner').size()

owner
acacia hills ltd                1
adam ciruli ye                  2
adam kline                      3
adriana torres rico quevedo     1
afca                           17
                               ..
yidnekachew dabessa             1
young kim                       2
yunnan coffee exchange         12
zarah zamora perez              1
æ¾æ¾¤å®æ¨¹ koju matsuzawa     8
Length: 315, dtype: int64

In [32]:
coffeerating.groupby('owner').count()

,total_cup_points,species,country_of_origin,farm_name,mill,company,altitude,region,producer,in_country_partner,...,category_one_defects,quakers,color,category_two_defects,expiration,certification_body,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
owner,,,,,,,,,,,,,,,,,,,,,
acacia hills ltd,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
adam ciruli ye,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
adam kline,3,3,3,0,0,2,1,1,0,3,...,3,3,1,3,3,3,3,1,1,1
adriana torres rico quevedo,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
afca,17,17,17,12,16,17,17,17,13,17,...,17,17,17,17,17,17,17,17,17,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yidnekachew dabessa,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
young kim,2,2,2,2,0,0,2,2,2,2,...,2,2,0,2,2,2,2,2,2,2
yunnan coffee exchange,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
zarah zamora perez,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
æ¾æ¾¤å®æ¨¹ koju matsuzawa,8,8,8,5,5,8,7,8,8,8,...,8,8,7,8,8,8,8,7,7,7

In [43]:
# Multiple stats (mean, max, min) for each owner
coffeerating.groupby('owner')['total_cup_points'].agg(['mean', 'max', 'min'])

                                  mean    max    min
owner
acacia hills ltd             81.580000  81.58  81.58
adam ciruli ye               79.545000  80.42  78.67
adam kline                   82.473333  82.67  82.25
adriana torres rico quevedo  79.420000  79.42  79.42
afca                         82.661765  86.00  80.67
...                                ...    ...    ...
yidnekachew dabessa          89.000000  89.00  89.00
young kim                    83.835000  85.00  82.67
yunnan coffee exchange       83.770833  87.25  82.33
zarah zamora perez           82.920000  82.92  82.92
æ¾æ¾¤å®æ¨¹ koju matsuzawa  83.251250  84.75  81.17

[315 rows x 3 columns]

In [42]:
# Number of farms per owner
coffeerating.groupby('owner')['farm_name'].nunique()

owner
acacia hills ltd                1
adam ciruli ye                  1
adam kline                      0
adriana torres rico quevedo     1
afca                           11
                               ..
yidnekachew dabessa             1
young kim                       1
yunnan coffee exchange         12
zarah zamora perez              1
æ¾æ¾¤å®æ¨¹ koju matsuzawa     3
Name: farm_name, Length: 315, dtype: int64

In [41]:
# Top 10 owners with the most entries
coffeerating.groupby('owner').size().sort_values(ascending=False).head(10)

owner
juan luis alvarado romero               155
racafe & cia s.c.a                       60
exportadora de cafe condor s.a           54
kona pacific farmers cooperative         52
ipanema coffees                          50
cqi taiwan icp cqiå°ç£åä½å¤¥ä¼´     47
lin, che-hao krude æå²è±ª             30
nucoffee                                 29
carcafe ltda ci                          27
the coffee source inc.                   23
dtype: int64

In [40]:
# Show all missing rows grouped by owner
coffeerating[coffeerating.isnull().any(axis=1)].groupby('owner').size()

owner
adam kline                       3
afca                             5
alexandra katona-carroll         1
alfredo bojalil                  9
almacafe                         1
                                ..
william ho                       1
yasmin cofffee plantation plc    1
yidnekachew dabessa              1
young kim                        2
æ¾æ¾¤å®æ¨¹ koju matsuzawa      5
Length: 210, dtype: int64

In [39]:

# Get the top scoring farm for each owner
coffeerating.loc[
    coffeerating.groupby('owner')['total_cup_points'].idxmax(),
    ['owner', 'farm_name', 'total_cup_points']
]

,owner,farm_name,total_cup_points
899,acacia hills ltd,acacia hills,81.58
1082,adam ciruli ye,alicia's farm,80.42
623,adam kline,NaN,82.67
1176,adriana torres rico quevedo,cre-leg l-4,79.42
49,afca,NaN,86.00
...,...,...,...
3,yidnekachew dabessa,yidnekachew dabessa coffee plantation,89.00
103,young kim,kassandra,85.00
18,yunnan coffee exchange,echo coffee,87.25
540,zarah zamora perez,"several, bukidnon, mindanao, philippines",82.92
120,æ¾æ¾¤å®æ¨¹ koju matsuzawa,matsuzawa coffee,84.75